<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="referrer" content="no-referrer" />
	<title></title>
    <link href="css/mui.min.css" rel="stylesheet"/>
	<link href="css/weui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<script src="js/mui.min.js"></script>
	<script src="js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/weui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/comingSoon.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		.hang{
			width: 100%;
			height: auto;
			display: flex;
		}
		.cover,.cover img{
			width: 100px;
			height: auto;
		}
	</style>
</head>
<body>
	<div class="mui-content" id="main">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">即将上映</h1>
			<a class="mui-icon mui-icon-arrowthinup mui-pull-right" @tap="toTop"></a>
		</header>
		<div class="mui-content mui-scroll-wrapper flex" style="position: relative;" id="scrollWrapper">
			<div class="mui-scroll">
				<!--这里放置真实显示的DOM内容-->
				
				<ul class="mui-table-view">
					<li v-for="item in list" class="mui-table-view-cell">
						<div class="hang">
							<div class="cover" v-if="item&&item.images&&item.images.small"><img :src="item.images.small" /></div>
							<div class="flex">
								<a @click="detail(item)">{{item.title}}<span v-if="item.title!=item.original_title"> / {{item.original_title}}</span></a>
								<div>导演:<span v-for="director in item.directors"> {{director.name}}</span></div>
								<div>主演:<span v-for="cast in item.casts"> {{cast.name}}</span></div>
								<div>{{item.year}}<span v-for="genre in item.genres"> {{genre}}</span></div>
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab" style="position: relative;">
			<a class="mui-tab-item" @click="toMovieTop">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">电影Top</span>
			</a>
			<a class="mui-tab-item mui-active" @click="toComingSoon">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">即将上映</span>
			</a>
			<a class="mui-tab-item" @click="toCollectMovie">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">收藏</span>
			</a>
		</nav>
	</div>
</body>
</html>